body {
  background: #010409 !important;
  color: #F7F3F0 !important;
}

a:link {
	color: #193BE9;
    text-decoration: none;
    font-weight: bold;
}
a:visited {
	color: #193BE9;
	text-decoration: none;
	font-weight: bold;
}

img.mob-img {
  width: 50%;
  margin-left: 48px;
  margin-right: 36px;
  margin-top: 8px;
  margin-bottom: 36px;
  float: right;
}
@media screen and (max-width: 700px) {
  img.mob-img {
    width: 100%;
    display: block;
    margin: auto;
  }
}
