---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <p><img style="float: right; margin-left: 24px; margin-bottom: 24px; margin-top: 6px;" src="assets/profile.jpg" width=300/>
        I am <a href="https://www.linkedin.com/in/apsommer/">Drew Sommer</a> - an Android developer with a previous career in mechanical engineering. After specializing in machine dynamics for nearly a decade my passion for software engineering guided a career change. I believe in the democratization of the internet and creating mobile apps that are accessible to everyone. My latest product BarAudio provides audible realtime alerts for the financial markets. My recent project with Electrify America is a green initiative that simplifies the charging of electric vehicles. I love collaborating on teams and have experience mentoring others.</p>

      </div>
    </div>
  </div>